<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="/img/download.png">
    <title>Help</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}    
        <p>{{para}}</p>
    </div>
    
    {{>footer}}
</body>
</html>